@use '../../components/Layout/Layout.scss' as layout;
@use '../../styles/global.scss' as *;

.catalog {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;

    @include layout.breakpoint(md) {
      column-gap: 20px;
      row-gap: 30px;
    }

    @include layout.breakpoint(sm) {
      gap: 20px;
    }
  }
}
