@use '../Layout/Layout.scss' as layout;
@use '../../styles/global.scss' as *;

.posts-card {
  &__body {
    max-width: 350px;

    @include layout.breakpoint(sm) {
      max-width: 280px;
    }
  }

  &__body > :not(:last-child) {
    margin-bottom: 20px;

    @include layout.breakpoint(sm) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: $font-size-base;
    color: $color-purple;

    @include layout.breakpoint(sm) {
      font-size: $font-size-default;
    }
  }

  &__description {
    font-weight: $font-weight-regular;

    @include layout.breakpoint(sm) {
      font-size: $font-size-small;
    }
  }
}
